/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Rubik mono one";
}

/* COMMON */

img {
    width: 100%
}

/* END COMMON */

/* HEADER */

nav {
    position: fixed;
    right: 1%;
    top: 1%;
    z-index: 1;
}

nav ul li {
    line-height: 4vh;
    width: 4vh;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    /* text-decoration: none; */
}

nav a, nav a:visited {
    text-decoration: none;
    color: black;
}

/* END HEADER */

/* MAIN */

.view {
    height: 100vh;
    position: relative;
}

.product {
    text-transform: uppercase;
    height: 50vh;
    width: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#yellow h2 {
    color: green;
}

#red {
    background-color: red;
}

/* END MAIN */