/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Rubik mono one", Arial, sans-serif;
}

/* COMMON */

img {
    width: 100%;
}

/* END COMMON */

/* NAVBAR */

nav {
    position: fixed;
    right: 1%;
    top: 1%;
    z-index: 1;
}

nav ul li {
    line-height: 2em;
    width: 2em;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    list-style-type: none;
    font-size: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav a, nav a:visited {
    text-decoration: none;
    color: black;
}

/* END NAVBAR */

/* MAIN */

.view {
    height: 100vh;
    position: relative;
}

.product {
    text-transform: uppercase;
    width: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    text-align: center;
}

.green-class {
    background-color: green;
}

.yellow-class {
    background-color: yellow;
}

.yellow-class .info {
    color: green;
}

.red-class {
    background-color: red;
}

.info {
    position: relative;
    font-size: 160%;
}

.infotext {
    visibility: hidden;
    width: 10em;
    background-color: black;
    color: #fff;
    padding: 2% 0;
    border-radius: 1em;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, +50%);

}

.infotext:after {
    content:"\20AC";
}
/* presso UK: rubiamo sul cambio */
/* .infotext:after {
    content:"\00A3";
} */
.info:hover .infotext {
    visibility: visible;
}

/* END MAIN */